@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

.App {
  text-align: center;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
}
/* p {
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: 200;
  src: url("font/NotoSansMyanmar-Bold.ttf");
} */
.absolute {
  position: absolute;
  margin-top: -370px;
  margin-left: 35px;
  font-size: 30px;
  color: #071433d6;
  width: 150px;
}
.absolute p {
  width: 350px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin: 10px;
}
.image img {
  width: 40px;
  height: 38px;
  margin: 10px;
  border-radius: 100%;
}
.image {
  width: 500px;
}
.image a {
  cursor: pointer;
}
nav a {
  margin: 15px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}
img {
  background-repeat: no-repeat;
  background-size: cover;
  height: 91vh;
  width: 100%;
}
li {
  list-style: none;
}
